body {
  background-color: #000000;
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 50px;
}
h1{
  font-size: 2rem;
  font-weight: 700;
}
.eventTime {
  font-size: 1.5rem;
}


.time-wrap {
  padding: 50px;
  display: flex;
  flex-direction: column;
}