@font-face {
  font-family: 'fontad132d25bb87a05287ee248b1f309b8f';

  src: url('https://nomail.com.ua/files/eot/ad132d25bb87a05287ee248b1f309b8f.eot?#iefix')
      format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/ad132d25bb87a05287ee248b1f309b8f.woff')
      format('woff'),
    url('https://nomail.com.ua/files/woff2/ad132d25bb87a05287ee248b1f309b8f.woff2')
      format('woff2');
}

@font-face {
  font-family: 'Neoneon';
  src: local('Neoneon'),
    url('https://nomail.com.ua/files/woff/ad132d25bb87a05287ee248b1f309b8f.woff')
      format('woff');
}
* {
  font-family: 'Neoneon';
}

:root {
  --main-party-color1: #fa1c16;
  --main-party-color2: #fcd33f;
  --main-party-color3: #806914;
  --main-party-color4: #800e0b;
  --main-party-color5: #40340a;

  --secondary-party-color1: #1041ff;
  --secondary-party-color2: #8bfdfe;
  --secondary-party-color3: #147280;
  --secondary-party-color4: #28d7fe;
  --secondary-party-color5: #40340a;

  --secondary-party-color6: #082180;
  --secondary-party-color7: #0a3940;
  --secondary-party-color8: #146c80;


  --main-main-color1: #fff;
  --main-main-color2: #000;
}


body {
  background-color: var(--main-main-color2);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  color: var(--main-main-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  line-height: 1.2;
  height: 100vh;
}
.party {
  animation: flux 5s linear infinite;
  -moz-animation: flux 5s linear infinite;
  -webkit-animation: flux 5s linear infinite;
  -o-animation: flux 5s linear infinite;
  text-shadow: 
    0 0 1vw var(--secondary-party-color1), 
    0 0 3vw var(--secondary-party-color1), 0 0 10vw var(--secondary-party-color1),
    0 0 10vw var(--secondary-party-color1), 
    0 0 0.4vw var(--secondary-party-color2), 
    0.5vw 0.5vw 0.1vw var(--secondary-party-color3);
    color: var(--secondary-party-color4);
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-main-color1);
  text-align: center;
  color: var(--main-party-color2);
}
.h1-party {
  animation: neon 4s ease infinite;
  -moz-animation: neon 4s ease infinite;
  -webkit-animation: neon 4s ease infinite;
  text-shadow: 0 0 1vw var(--main-party-color1), 0 0 3vw var(--main-party-color1), 0 0 10vw var(--main-party-color1),
  0 0 10vw var(--main-party-color1), 0 0 0.4vw var(--main-party-color2), 0.5vw 0.5vw 0.1vw var(--main-party-color3);
color: var(--main-party-color2);

}
.eventTime {
  font-size: 2rem;
  font-weight: 700;
}

.time-wrap {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.party-mode {
  background-color: var(--main-main-color2);
  color: var(--main-main-color1);
  font-size: 2rem;
  border: 1px solid var(--main-party-color2);
  box-shadow: 0 0 9vw var(--main-party-color1), 0 0 0.4vw var(--main-party-color2), 0vw 0vw 0vw var(--main-party-color3);
    text-shadow: 0 0 1vw var(--main-party-color1), 0 0 3vw var(--main-party-color1), 0 0 10vw var(--main-party-color1),
  0 0 10vw var(--main-party-color1), 0 0 0.4vw var(--main-party-color2), 0.2vw 0.2vw 0.1vw var(--main-party-color3);
  color: var(--main-party-color2);
}
@media only screen and (max-width: 500px) {
  .time-wrap {
    padding: 10px;
  }
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 
      0 0 1vw var(--main-party-color1), 

      0.2vw 0.2vw 0.1vw var(--main-party-color3);
      color: #var(--main-party-color2);
    }
    50% {
      text-shadow: 
      0 0 0.5vw #var(--main-party-color4),  
      0.2vw 0.2vw 0.1vw var(--main-party-color5);
      color: var(--main-party-color3);
    }
} 

@keyframes flux {
  0%,
  100% {
    text-shadow: 
    0 0 1vw var(--secondary-party-color1), 
    0.25vw 0.25vw 0.15vw var(--secondary-party-color3);
    color: var(--secondary-party-color2);
  }

  50% {
    text-shadow: 
    0 0 0.5vw var(--secondary-party-color6), 
    0.25vw 0.25vw 0.15vw var(--secondary-party-color7);
    color: var(--secondary-party-color8);
  }
} 
