@font-face {
  font-family: 'fontad132d25bb87a05287ee248b1f309b8f';

  src: url('https://nomail.com.ua/files/eot/ad132d25bb87a05287ee248b1f309b8f.eot?#iefix')
      format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/ad132d25bb87a05287ee248b1f309b8f.woff')
      format('woff'),
    url('https://nomail.com.ua/files/woff2/ad132d25bb87a05287ee248b1f309b8f.woff2')
      format('woff2');
}

@font-face {
  font-family: 'Neoneon';
  src: local('Neoneon'),
    url('https://nomail.com.ua/files/woff/ad132d25bb87a05287ee248b1f309b8f.woff')
      format('woff');
}

body {
  background-color: black;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Neoneon';
  line-height: 1.2;

  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}
.eventTime {
  font-size: 2rem;
  font-weight: 700;
}

.time-wrap {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .time-wrap {
    padding: 10px;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}
