@include reset();
body {
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-main-color2);
  box-sizing: content-box;
  margin: 0;
  padding: 25px 10px;
  color: var(--main-main-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 1.2;
  height: auto;
  overflow: auto;
  @include media(500px) {
    padding: 30px;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-main-color1);
  text-align: center;
  color: var(--main-party-color2);
  text-transform: uppercase;
  padding: 5px 0 10px;
}

.eventTime {
  font-size: 2rem;
  font-weight: 700;
}

.time-wrap {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  @include media(500px) {
    padding: 50px;
  }
}

.d-none {
  display: none;
}
