@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw var(--main-party-color1),
      0 0 3vw var(--main-party-color1), 0 0 10vw var(--main-party-color1),
      0 0 10vw var(--main-party-color1), 0 0 0.4vw var(--main-party-color2),
      0.25vw 0.25vw 0.1vw var(--main-party-color3);
    color: var(--main-party-color2);
  }
  50% {
    text-shadow: 0 0 0.5vw var(--main-party-color4),
      0 0 1.5vw var(--main-party-color4), 0 0 5vw var(--main-party-color4),
      0 0 5vw var(--main-party-color4), 0 0 0.2vw var(--main-party-color4),
      0.25vw 0.25vw 0.1vw var(--main-party-color5);
    color: var(--main-party-color3);
  }
}


@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw var(--secondary-party-color1),
      0.25vw 0.25vw 0.15vw var(--secondary-party-color3);
    color: var(--secondary-party-color2);
  }

  50% {
    text-shadow: 0 0 0.5vw var(--secondary-party-color6),
      0.25vw 0.25vw 0.15vw var(--secondary-party-color7);
    color: var(--secondary-party-color8);
  }
}


@keyframes glow1 {
  0%,
  100% {
    filter: invert(18%) sepia(82%) saturate(6437%) hue-rotate(10deg) brightness(105%) contrast(106%);
    opacity: 1;
  }
  50% {
    filter: invert(11%) sepia(84%) saturate(4868%) hue-rotate(4deg) brightness(98%) contrast(114%);
    opacity: 0.5;
  }
}
@keyframes glow2 {
  0%,
  100% {
    filter: invert(98%) sepia(96%) saturate(5596%) hue-rotate(323deg)
    brightness(103%) contrast(98%);
    opacity: 1;
  }
  50% {
    filter: invert(87%) sepia(38%) saturate(2503%) hue-rotate(349deg) brightness(85%) contrast(88%);
    opacity: 0.5;
  }
}
@keyframes glow3 {
  0%,
  100% {
    opacity: 1;
    filter: invert(27%) sepia(97%) saturate(918%) hue-rotate(27deg) brightness(107%) contrast(84%);

  }
  50% {
    opacity: 0.6;
    filter: invert(28%) sepia(71%) saturate(820%) hue-rotate(17deg) brightness(97%) contrast(93%);
  }
}