.svg {
  position: absolute;
  inset: 0;
  flex-wrap: wrap;
  z-index: -1;
  display: flex;
}
$squareSideSize: 35px;
$squareMargin: 50px;

.jsReferenceSquare {
  position: absolute;
  left: -1000px;
  width: $squareSideSize;
  height: $squareSideSize;
  margin: $squareMargin;
}
.square {
  width: $squareSideSize;
  height: $squareSideSize;
  margin: $squareMargin;
  filter: invert(98%) sepia(96%) saturate(5596%) hue-rotate(323deg)
    brightness(103%) contrast(98%);
}

.svgColor {
}
