:root {
    --main-party-color1: #fa1c16;
    --main-party-color2: #fcd33f;
    --main-party-color3: #806914;
    --main-party-color4: #800e0b;
    --main-party-color5: #40340a;
  
    --secondary-party-color1: #1041ff;
    --secondary-party-color2: #8bfdfe;
    --secondary-party-color3: #147280;
    --secondary-party-color4: #28d7fe;
    --secondary-party-color5: #40340a;
  
    --secondary-party-color6: #082180;
    --secondary-party-color7: #0a3940;
    --secondary-party-color8: #146c80;
  
    --main-main-color1: #fff;
    --main-main-color2: #000;
  }